<h2>Create a new San Francisco landmark:</h2>

<form action="/landmarks" method="POST">

  <label>Name:</label>
  <input type="text" name="name"><br>


  <label>Address:</label>
  <input type="text" name="address"><br>

  <label>Landmark Type:</label>
  <select name="landmark_type">
    <option value="bar">Bar</option>
    <option value="gym">Gym</option>
    <option value="movie_theater">Movie Theater</option>
    <option value="restaurant">Restaurant</option>
  </select><br>

  <label>Neighborhood:</label>
  <select name="neighborhood_id">
    <% @neighborhoods.all.each do |neighborhood| %>
      <option value=<%= neighborhood.id %>><%= neighborhood.name %></option>
    <% end %>
  </select><br>

  <input type="hidden" name="created_by" value="<%=@user.id%>"> 

  <input type="submit" value="Create">

</form>
<br>