<h2><%= "#{@landmark.name} | #{@landmark.landmark_type}" %></h2>
<p>Neighborhood: <a href="/neighborhoods/<%= @landmark.neighborhood.id %>"><%= @landmark.neighborhood.name %></a></p>
<p><%= "Address: #{@landmark.address}" %></a>
