<h1>Welcome back to your San Francisco Neighborhood Guide</h1>
<h2>Please log in:</h2>
<form action="/login" method="POST">
	<label for="email">Email:</label>
	<input type="email" name="email"><br>
	<label for="password">Password:</label>
	<input type="password" name="password"><br>
	<input type="submit" value="submit">
</form>

<% if !@error_message.nil? %>
  <div class="alert alert-warning">
    <%= @error_message %>
  </div>
<% end %> 
